{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <title>{% block title %}Tracking{% endblock %}</title>
  </head>
  <body>
    {% if user.is_authenticated %}
      {% if user.is_bratton_admin %}
        <header>
          <nav class="menu">
            <div class="container-menu">
              <div class="container-logo">
                <div class="logo-img">
                  <img src="{% static 'img/logo-phone.png' %}" alt="">
                  </div>
              </div>
              <div class="icon-menu">
                <a href="#" id="btn-menu" class="btn-menu"> <span class="fa fa-bars"></span> </a>
              </div>
            </div>
            <div class="menu-link">
              <ul>
                <li> <a href="/administracion">Inicio</a></li>
                <li> <a href="/administracion/cargas">Cargas</a></li>
                <li> <a href="/administracion/solicitudes">Solicitudes</a></li>
                <li> <a href="/users/logout"> <i class="fas fa-user-circle"></i> </a> </li>
              </ul>
            </div>
          </nav>
        </header>
      {% else %}
        {% if user.is_validated %}
        <header>
          <nav class="menu">
            <div class="container-menu">
              <div class="container-logo">
                <div class="logo-img">
                  <img src="{% static 'img/logo-phone.png' %}" alt="">
                  </div>
              </div>
              <div class="icon-menu">
                <a href="#" id="btn-menu" class="btn-menu"> <span class="fa fa-bars"></span> </a>
              </div>
            </div>
            <div class="menu-link">
              <ul>
                <li> <a href="/tracking">inicio</a></li>
                <li> <a href="#"> <a href="/users/logout"> <i class="fas fa-user-circle"></i> </a> </a></li>
              </ul>
            </div>
          </nav>
        </header>
        {% else %}
          <p>is'nt valid</p>
        {% endif %}
      {% endif %}
      {% else %}
      <p>you need login</p>
    {% endif %}

    <section class="main container">
      {% block content %}
      {% endblock %}
    </section>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static 'js/animate.js' %}"></script>

  </body>
</html>


<!--


<p>You Are not logged in</p>
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'signup' %}">Signup</a>




Hi {{ user.username }}!
<p> <a href="{% url 'logout' %}">Logout</a> </p>
 -->
