header {
  width: 100%;
  background: #000;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

/* 516eac */
.title-homepage {
  text-align: center;
  padding: 40px;
}

.subtitle-homepage {
  text-align: center;
  padding: 20px;
}

.menu {
  width: 100%;
  height: 40px;
  padding: 0px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.menu .container-menu .icon-menu .btn-menu {
  text-decoration: none;
  color: white;
  font-size: 30px;
  display: none;
}
.menu .container-menu .container-logo .logo-img img {
  width: 130px;
}
.menu .menu-link ul {
  list-style: none;
}
.menu .menu-link ul li {
  display: inline-block;
}
.menu .menu-link ul li a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}
.menu .menu-link ul li a i {
  color: #fff;
}
.menu .menu-link ul li:hover {
  border-bottom: 2px solid white;
}

.btn-mas-vessel a {
  font-size: 25px;
  color: #fff;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.main {
  padding-top: 20px;
}
.main .section-title {
  width: 100%;
  padding: 40px;
}
.main .section-title h3 {
  text-align: center;
}
.main .content .vessel-list {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
}
.main .content .vessel-list .vessel-object {
  padding: 10px;
  border-radius: 5px;
}
.main .content .vessel-list .vessel-object:hover {
  background: #eee;
}
.main .content .vessel-cabecera {
  padding: 5px;
  margin-top: 5px;
  background: #000;
  border-radius: 3px;
}
.main .content .vessel-cabecera div p {
  color: #fff;
  font-size: 20px;
  font-size-margin-left: 10px;
}
.main .content .update-form {
  width: 100%;
}
.main .content .update-form form row form-part {
  padding: 15px;
}
.main .content .cargas ul {
  list-style: none;
}
.main .content .cargas ul li {
  padding: 20px;
  padding-left: 90%;
}
.main .content .cargas ul li a {
  font-size: 50px;
}
.main .content .cargas ul li .container-cargas {
  width: 100%;
  height: 200px;
  background: #aaa;
  display: none;
}
.main .content .cargas ul li .container-cargas .body {
  width: 100%;
}
.main .content .cargas ul li .container-cargas .body .header-list-cargas {
  width: 100%;
  background: #000;
  padding: 5px;
}
.main .content .cargas ul li .container-cargas .body .header-list-cargas h4 {
  color: #fff;
}
.main .content .cargas ul li .container-cargas .body .item {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

.list-object {
  border-right: 2px solid lightblue;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.btn-more a {
  font-size: 25px;
  color: lighblue;
}

.header-init-page {
  background-image: url("../img/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 200px;
  padding-bottom: 250px;
}
.header-init-page .title {
  width: 100%;
}
.header-init-page .title h1 {
  text-align: center;
  font-size: 50px;
  color: #fff;
}
.header-init-page .title h2 {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.header-init-page .button-go-app {
  padding: 50px;
  width: 100%;
}
.header-init-page .navigation {
  padding-top: 90px;
  width: 100%;
}
.header-init-page .navigation .menu {
  display: inline;
  margin: auto;
}
.header-init-page .navigation .menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-init-page .navigation .menu ul li {
  padding: 20px;
  font-size: 25px;
}
.header-init-page .navigation .menu ul li:hover {
  border-bottom: 2px solid #fff;
}
.header-init-page .navigation .menu ul li a {
  color: #fff;
  text-decoration: none;
}

.description {
  padding: 100px;
}
.description .title {
  width: 100%;
}
.description .title h2 {
  text-align: center;
}
.description .title h3 {
  text-align: center;
}
.description .text {
  width: 100%;
}
.description .text p {
  padding-top: 50px;
  font-size: 22px;
  text-align: center;
}

.init_page {
  background: #aaa;
  display: flex;
}
.init_page .for-users {
  padding-top: 250px;
  padding-bottom: 250px;
  border-right: 2px solid black;
  background-image: url("../img/vessel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  opacity: 0.95;
}
.init_page .for-users:hover {
  opacity: 1;
}
.init_page .for-users .title h2 {
  text-align: center;
  color: #fff;
}
.init_page .for-admins {
  padding-top: 250px;
  padding-bottom: 250px;
  background-image: url("../img/administrativa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  opacity: 0.95;
}
.init_page .for-admins:hover {
  opacity: 1;
}
.init_page .for-admins .title h2 {
  text-align: center;
  color: #fff;
}

.message {
  padding: 200px;
}

@media (max-width: 800px) {
  .navigation {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
